* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
}

body {
    margin: 0px;
    padding: 0px;
}

/* NavBar */
.logo a {
    font-size: 28px;
    font-weight: 700;
    float: left;
    color: #ffffff;
}

.logo {
    margin-top: -10px;
}

nav {
    width: 100%;
    margin: auto;
    line-height: 60px;
    background-color: white;
    box-shadow: 0 5px 10px 10px rgba(20, 20, 20, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    margin-left: 30px;
}

nav ul li a:hover {
    color: #1363DF;
    border-radius: 10px;
    text-decoration: none;
}

.tombol-log {
    background-color: #1363DF;
    border-radius: 30px;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 12px;
}

.tombol-log:hover {
    background-color: #0c3a7f;
    border-radius: 30px;
    color: #cbd9ff;
}

.back:hover {
    color: #1363DF;
}

.kategori {
    color: #1363DF;
}

.kartu:hover {
    scale: 105%;
    cursor: pointer;
    color: aquamarine;
}


.tombol-3 {
    background: #1363DF;
    color: #ffffff;
    border-radius: 30px;
    margin-top: 30px;
    padding: 12px 40px 12px 40px;
    font-weight: 700;
    width: 590px;
    border: 0;
    cursor: pointer;
    align-content: center;
}

.tombol-3:hover {
    background: #000F27;
    color: #47B5FF;
    text-decoration: none;
}

/* Footer */
#about {
    background-color: #1363DF;
    padding: 0;
    width: 100%;
    margin: 0;
    color: white;
}

.footerMedsos a {
    color: white;
    padding: 6px 12px;
    font-size: 24px;
}

.footerMedsos a:hover {
    color: #344D67;
    background-color: #ffffff;
    border-radius: 10px;
}

.footer-section h5 {
    margin-left: 440px;
    margin-bottom: -20px;
    margin-top: 20px;
}